<!doctype html>
<html>
<head>
	<title>www.kovaluu.com</title>
	<meta charset="utf-8" />
</head>
<body>
	<h1>www.kovaluu.com</h1>
	<p>Terve, maailma! Tämä on Apachen nimipohjainen "virtuaalipalvelin"</p>
</body>
</html>
